.header-nav {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: unset;
}



.header-logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.header-logo img {
    height: 54px;
    width: auto;
    /* padding: 46px 24px; */
}


.member-info {
    height: 100%;
    display: flex;
}

.info-item {
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.info-item img {
    width: 25px;
    height: 25px;
}


.info-reg {
    background: #c9c9c9;
}

.info-login {
    /* background: #7FBAFF; */
    background: #5BA864;
}

.member-info p {
    margin: 0;
}





/*  */
.slider {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.slider-cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}



/*  */


.section {
    background: #FAFAFA;
}

.footer {
    background: #fff;
    margin: 40px;
}


.footer--inner .container {}

.footer_main {
    border-top: 1px solid #DEE0DC;
    display: flex;
    align-items: stretch;
    height: 100%;
}


.footer_main .am-g {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.am-g-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer_main--column_title {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
}

.footer_main--column_title::after {
    content: '';
    width: 45%;
    height: 4px;
    background: #44874B;
    margin-top: 8px;
    border-radius: 4px;
}


.f-contact {
    width: 30%;
    display: flex;
    flex-direction: column;
    background: #EFF2ED;
    padding: 30px;
}

.f-contact-title {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
}

.concat-info {
    margin-top: 20px;
}

.concat-info p {
    font-family: PingFangSC-Regular;
    font-size: 13px;
    color: #666666;
    letter-spacing: 0;
    line-height: 40px;
    margin-bottom: 10px;
    width: 100%;
}

.f-logo {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.f-logo img {
    width: 80%;
    object-fit: contain;
}

.footer_navigation {
    padding-left: 0;
}

.footer_navigation--item {
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    letter-spacing: 0;
}

.footer_navigation--item>a {
    color: #999999;
}

.footer_navigation--item>a:hover {
    color: #999999;
}

.footer-friend {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.friend-div {

    display: flex;
    flex-direction: column;
}

.friend-title {
    font-family: PingFangSC-Semibold;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    margin-bottom: 8px;
}

.friend-info {
    display: flex;
}

.friend-info a {
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
    margin-right: 25px;
}


.goTop {
    position: fixed;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: #7FBAFF;
    bottom: 130px;
    right: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999999999;
}

.goTop>p {
    margin: 0;
    padding: 0 !important;
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 1.25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}


.goTop>p::before {
    content: '';
    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    margin-bottom: 8px;
}



/*  */
.index-container {
    width: 70%;
}


.index-news {
    /* height: 700px; */
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
}

.index-head {
    width: 100%;
    height: 68px;
    border-bottom: 1px solid #DEE0DC;
    ;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.index-title {
    width: 160px;
    height: 70%;
    background-color: #ccc;
    border-top-right-radius: 150px;
    display: flex;
    align-items: center;
}

.index-title strong {
    font-family: PingFangSC-Semibold;
    font-size: 24px;
    color: #26322A;
    margin-left: 10px;
}


.item-more {
    font-family: SIL-Hei-Med-Jian;
    font-size: 16px;
    color: #B4BEAB;
    margin-bottom: 4px;
    /*  */
    cursor: pointer;
}


.news-body {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: stretch;
}



.news-slider {
    width: 40%;
    height: 320px;
}


.am-viewport,
.am-slides,
.am-slides>li,
.am-slides>li>img {
    height: 100% !important;
}

.am-slides>li>img {
    object-fit: cover;
    width: 100%;
}


.news-slider-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
    bottom: 0px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-slider-text p {
    margin: 0;
    margin: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.news-list {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.news-item {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.news-item:hover>strong strong {
    transform: scale(1.02);
}

.news-item>strong {
    font-family: PingFangSC-Medium;
    font-size: 20px;
    color: #151515;
    letter-spacing: 1.5px;
    line-height: 25px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 15px;
}

.news-item>strong strong {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.6s;
}

.news-item>strong::before {
    content: '';
    width: 8px;
    height: 8px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 35%;
}

.news-item>p {
    font-family: HelveticaNeue;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
    margin-bottom: 0;
    white-space: nowrap;
}




/* 社团活动 */
.activity-body {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.act-item {
    width: 30%;
    height: 440px;
    display: flex;
    flex-direction: column;

    transition: all 0.4s;
}

.act-item:hover {
    transform: scale(1.02);
    -ms-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.act-cover {
    height: 60%;
    width: 100%;
    display: flex;
    /*  */
    position: relative;
}

.act-float-time {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60%;
    height: 34px;
    background: rgba(127, 186, 255, 0.6);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-top-right-radius: 100px;
}

.act-float-time>p {
    font-family: PingFangSC-Medium;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
    font-size: 10px;
    padding-left: 8px;
    white-space: nowrap;
}





.act-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    border-radius: 4px;
}

.act-info {
    height: 40%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    /*  */
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 5px 5px 20px #C4C4C4;
}

.info-title {
    /*  */
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 44px;
    position: relative;
}

.info-title::before {
    position: absolute;
    content: "";
    left: 0;
    width: 2%;
    height: 100%;
    background: #9AD1A1;
    border-radius: 1px;
}

.info-title>strong {
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #333333;
    letter-spacing: 0;
    margin: 0;
    /*  */
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px 20px;
}


.info-name>p {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    margin: 0;
    /*  */
    padding: 10px 20px;
    /*  */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


.act-reg {
    width: 100%;
    padding: 5px 18px 0px 18px;
    display: flex;
}

.reg-detail {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.reg-time {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    letter-spacing: 0;
}

.reg-address {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999;
    letter-spacing: 0;
}

.reg-button {
    width: 30%;
    padding: 10px;
    background: #9AD1A1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*  */
    cursor: pointer;
}

.reg-button>p {
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
}

.time-doing {
    color: #FE5555;
}

.time-done {
    color: #999999;
}


/* 实践活动 */
.exp-body {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.exp-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    background: #F0F3ED;
    border-radius: 2px;
}

.eleft-title {
    height: 80px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.eleft-title>p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #26322A;
    letter-spacing: 1.21px;
}

.eleft-item {
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    /*  */
    border-bottom: 1px solid #DEE0DC;
}

.eleft-item:hover {
    background: #E5EBE0;
    cursor: pointer;
}


.eleft-item-title {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eleft-item-author {
    display: flex;
    width: 25%;
    align-items: center;

}

.eleft-item-author>img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.eleft-item-author>p {
    margin-left: 5px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    letter-spacing: 0.88px;
}


.eleft-item-content {
    display: flex;
    flex-direction: column;
}

.eleft-item-content>strong {
    margin: 10px 0px;
    font-family: PingFangSC-Medium;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    line-height: 27px;

    /* */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.eleft-item-content>p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    line-height: 27px;
    height: 81px;
    /*  */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}


.eleft-item-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eleft-item-bottom>p {
    margin: 15px 0px;
}



.exp-right {
    width: 43%;
    display: flex;
    flex-direction: column;
    background: #fff;
    /* justify-content: space-between; */
}

.eright-title {
    height: 80px;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

.eright-title>p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 28px;
    color: #26322A;
    letter-spacing: 1.21px;
}

.eright-item {
    margin: 5px 0px 5px 25px;
    display: flex;
    flex-direction: column;
    /*  */
    box-shadow: 5px 5px 10px rgba(196, 196, 196, 0.3);
}

.eright-item-title {
    padding-right: 8px;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eright-item-title>p {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
    margin: 5px 0px;
}

.eright-item-body {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.eright-item-name {
    padding-right: 8px;
    /* width: 100%; */
    height: 70%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.eright-item-name>p {
    margin: 0;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    /* color: #333333; */
    letter-spacing: 0;
    line-height: 27px;
    /*  */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.eright-item-name>p:first-child:hover {
    color: #FF8670;
    cursor: pointer;
}

.eright-item-b {
    height: 30%;
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.eright-item-b>p {
    margin: 5px 0px;
    /*  */
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    letter-spacing: 0;
}



/*  */
.pro-filter-container {
    display: flex;
    flex-direction: column;
    width: 62.5%;
    padding: 10px;
}

.pro-filter-container::after {
    content: '';
    height: 16px;
    width: 100%;
    background: #f1f2f1;
}

.pro-filter {
    height: 78px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #F1F2F1;
}

.pro-filter-body {
    height: 78px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}

.pro-filter-item {
    padding: 4px;
    border: 1px solid #44874B;
    color: #44874B;
    height: 30px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    margin: 0px 4px;
}

.pro-filter-item>p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #44874B;
    letter-spacing: 0;
    white-space: nowrap;
}

.pro-filter-item>span {
    margin-left: 3px;
    color: #999999;
}

.pro-filter>p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    letter-spacing: 0;
    margin: 0;
}

.pro-filter-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pro-filter-list-item {
    border-bottom: 1px solid #DEE0DC;
    display: flex;
    align-items: flex-start;
    padding: 20px;
}


.pro-filter-list-item-head {
    width: auto;
    height: 100% !important;
    display: flex !important;
    align-items: flex-start !important;
    margin: 4px 0px;
}

.pro-filter-list-item-head>p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    margin: 0;
    white-space: nowrap;
}

.pro-filter-item-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
}


.pro-filter-item-body>p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0;
    margin: 0;
}

.pro-filter-item-body>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FAFAFA;
    color: #666666;
    /* margin-right: 25px; */
    margin: 2px 12px;
    padding: 2px 10px;
    height: 32px;
    cursor: pointer;
    border-radius: 6px;
}

.pro-filter-item-body>.active {
    background: #44874B;
    color: #fff;
}

.pro-filter-item-body>div>p {
    font-size: 18px;
    margin: 0;
}

.pro-filter-item-body>div>.el-input>input {
    width: 100px !important;
    text-align: center;
}

.el-range-separator {
    box-sizing: content-box !important;
}


/*  */
.pro-item-body {
    width: 62.5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.pro-item {
    width: 48%;
    background: #fff;
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    /*  */
    box-shadow: 5px 5px 20px rgba(196, 196, 196, 0.3);
    transition: all 0.6s;
}

.pro-item:hover {
    box-shadow: 5px 5px 20px rgba(196, 196, 196, 1);
    cursor: pointer;
}

.pro-item-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.pro-item-head>p {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    margin: 0;
}


.pro-item-info {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.pro-item-info>strong {
    height: 24%;
    width: 100%;
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: #333333;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pro-item-detail {
    padding: 25px 0px 15px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-item-detail-l,
.pro-item-detail-r {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100px;
}

.pro-item-detail-l>div,
.pro-item-detail-r>div {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pro-item-detail-l>div>strong {
    font-family: PingFangSC-Medium;
    font-size: 34px;
    color: #FF8670;
    letter-spacing: 0;
    vertical-align: middle;
}

.pro-item-detail-l>p,
.pro-item-detail-r>p {
    margin: 0;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    letter-spacing: 0;
    text-align: center;
}

.pro-item-detail-r>div>strong {
    font-family: PingFangSC-Medium;
    font-size: 22px;
    color: #666666;
    letter-spacing: 0;
    vertical-align: middle;
}

/*  */
.user-news-list {
    width: 62.5%;
    display: flex;
    flex-direction: column;
}

.user-news-item {
    width: 100%;
    border-bottom: 1px solid #DEE0DC;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.user-news-item:hover {
    background: #E5EBE0;
    /* cursor: pointer; */
}

.user-news-head {
    height: 72px;
    display: flex;
    padding: 10px 25px;
    align-items: center;
    justify-content: space-between;
}

.user-news-head-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.user-news-head>p {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #77AAE6;
    letter-spacing: 0;
    text-align: right;
}

.user-news-head-info>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-news-head-info>p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #999999;
    letter-spacing: 0;
    margin: 0;
    margin-left: 15px;
}

.user-news-body {
    padding: 28px 26px;
    display: flex;
    flex-direction: column;
}

.user-news-body>strong {
    font-family: PingFangSC-Medium;
    font-size: 26px;
    color: #151515;
    letter-spacing: 0;
    line-height: 37px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-news-body>div>p {
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #999999;
    letter-spacing: 0;
    line-height: 30px;

    /*  */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.user-news-body>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-news-body>div>p {
    font-family: SIL-Hei-Med-Jian;
    letter-spacing: 0;
    margin: 0;
}

/*  */
.user-header {
    height: 100px;
    width: 320px;
    background: #F7FAF4;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
}

.u-header {
    height: 60%;
    display: flex;
    align-items: stretch;
}

.u-header>img {
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.u-header>div {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.u-header>div>p {
    font-family: PingFangSC-Medium;
    font-size: 12px;
    color: #666666;
    letter-spacing: 0;
    font-weight: 600;
    margin: 0;
}

.u-action {
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.u-action>p {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #44874B;
    letter-spacing: 0;
    margin: 0;
    cursor: pointer;
}

.u-action>div {
    height: 30px;
    width: 100px;
    background: #44874B;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.u-action>div>p {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0;
    margin: 0;
}




/* site */
.news-site-empty {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFF2EC;
}

.news-site-empty>.site-empty-info {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-left: 10px;
}

.eleft-empty>.site-empty-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.news-site-empty>.site-empty-info>p,
.eleft-empty>.site-empty-info>p {
    width: 400px;
    opacity: 0.7;
    font-family: PingFangSC-Regular;
    font-size: 30px;
    color: #999999;
    line-height: 48px;
}

.news-site-empty>.site-empty-info>.addSiteContent,
.eleft-empty>.site-empty-info>.addSiteContent {
    background: #7FBAFF;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.eleft-empty {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}